# Flight Data - Exploration

Explore some basic properties of the flights database.

In [1]:
%matplotlib inline

# Imports 
import os
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
# Set data path
dat_path = "/Users/thomasdonoghue/Documents/UCSD/1-Classes/2016-2017/" \
           "2-Winter/CSE255_WebMining/Assignments/Assgn-2/Data/"

In [3]:
# Load data for airports and airlines
airlines_df = pd.read_csv(os.path.join(dat_path, 'airlines.csv'))
airports_df = pd.read_csv(os.path.join(dat_path, 'airports.csv'))

In [4]:
# Load flight data
flights_df = pd.read_csv(os.path.join(dat_path, 'flights.csv'))

In [5]:
# Check what features the flight data has
flights_df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK',
       'AIRLINE', 'FLIGHT_NUMBER', 'TAIL_NUMBER', 'ORIGIN_AIRPORT',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME',
       'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN',
       'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'DIVERTED',
       'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY',
       'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY',
       'WEATHER_DELAY'],
      dtype='object')

In [6]:
# Check out some example flights data
flights_df.head()

,Unnamed: 0,Unnamed: 0.1,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,0,0,2015,1,1,4,AS,98,N407AS,ANC,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,2015,1,1,4,AA,2336,N3KUAA,LAX,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,2015,1,1,4,US,840,N171US,SFO,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,2015,1,1,4,AA,258,N3HYAA,LAX,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,2015,1,1,4,AS,135,N527AS,SEA,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Check out the size of the data
n_dat, n_feats = flights_df.shape
print('Each flight has \t', n_feats, '\t\tfeatures.')
print('There are \t\t', n_dat, '\tdata points.')

Each flight has 	 33 		features.
There are 		 5819079 	data points.

In [8]:
# Check the average departure & arrival delay
avg_dep_delay = np.mean(flights_df['DEPARTURE_DELAY'])
avg_ari_delay = np.mean(flights_df['ARRIVAL_DELAY'])
print('Average departure delay is: ', avg_dep_delay)
print('Average arrival delay is:   ', avg_ari_delay)

Average departure delay is:  9.370158275198389
Average arrival delay is:    4.407057357987598

In [9]:
# Check how flights are cancelled
n_cancelled = sum(flights_df['CANCELLED'])
print('There were  ', n_cancelled, '  cancelled flights.')
print('This is  ', (n_cancelled / n_dat)*100, '  % of all flights.')

There were   89884   cancelled flights.
This is   1.54464306121   % of all flights.

In [10]:
# Departure delay
print('Maximum delay: ', max(flights_df['DEPARTURE_DELAY']))
print('Minimum delay: ', min(flights_df['DEPARTURE_DELAY']))
print('Average: ', np.mean(flights_df['DEPARTURE_DELAY']))

Maximum delay:  1988.0
Minimum delay:  -82.0
Average:  9.370158275198389

In [11]:
# Arrival delay
print('Maximum delay: ', max(flights_df['ARRIVAL_DELAY']))
print('Minimum delat: ', min(flights_df['ARRIVAL_DELAY']))
print('Average: ', np.mean(flights_df['ARRIVAL_DELAY']))

Maximum delay:  1971.0
Minimum delat:  -87.0
Average:  4.407057357987598

In [12]:
# Check airports match
ports_1 = set(flights_df.ORIGIN_AIRPORT)
len(ports_1)

ports_2 = set(airports_df.IATA_CODE)
len(ports_2)

ports_1 == ports_2

True

In [13]:
# Check airlines match
lines_1 = set(airlines_df.IATA_CODE)
len(lines_1)

lines_2 = set(flights_df.AIRLINE)
len(lines_2)

lines_1 == lines_2

True

In [14]:
# Check ratio of incoming to outgoing flights
outgoing = flights_df.groupby(['ORIGIN_AIRPORT']).size()
incoming = flights_df.groupby(['DESTINATION_AIRPORT']).size()

print(min(outgoing / incoming))
print(max(outgoing / incoming))

0.971428571429
1.02040816327

In [15]:
# Describe departing / arriving flights
flights_df.loc[:, ('ORIGIN_AIRPORT', 'DESTINATION_AIRPORT')].describe()

       ORIGIN_AIRPORT DESTINATION_AIRPORT
count         5819079             5819079
unique            322                 322
top               ATL                 ATL
freq           379424              379498

## Check if airlines use particular airport hubs

In [16]:
# Check out airline data
airlines_df

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

In [17]:
# Calculate departing flights per airline per airport
airline_hubs_df = pd.crosstab(flights_df.loc[:, 'ORIGIN_AIRPORT'],
                             flights_df.loc[:, 'AIRLINE'])

In [18]:
# Check how many flights each airline flies
airlines_n_flights = airline_hubs_df.sum()
print(airlines_n_flights)

AIRLINE
AA     725984
AS     172521
B6     267048
DL     875881
EV     571977
F9      90836
HA      76272
MQ     294632
NK     117379
OO     588353
UA     515723
US     198715
VX      61903
WN    1261855
dtype: int64

In [19]:
# Check with airport each airline uses the most
airline_hubs = airline_hubs_df.idxmax()
print(airline_hubs)

AIRLINE
AA    DFW
AS    SEA
B6    JFK
DL    ATL
EV    IAH
F9    DEN
HA    HNL
MQ    ORD
NK    FLL
OO    DEN
UA    ORD
US    CLT
VX    SFO
WN    MDW
dtype: object

In [20]:
# Check degree to which each airline has a hub
#  Here: check percent of flights through hub airport
airline_hubness = airline_hubs_df.max() / airline_hubs_df.sum()
print(airline_hubness)

AIRLINE
AA    0.201875
AS    0.316559
B6    0.165105
DL    0.277065
EV    0.110249
F9    0.256011
HA    0.431495
MQ    0.234730
NK    0.106305
OO    0.082707
UA    0.127441
US    0.223300
VX    0.282151
WN    0.066252
dtype: float64

In [21]:
# Add airline hub information to airlines data
airlines_df['HUB'] = airlines_df['IATA_CODE'].map(airline_hubs.to_dict())
airlines_df['HUBNESS'] = airlines_df['IATA_CODE'].map(airline_hubness.to_dict())

In [23]:
# Save out new airlines data to use for prediction
airlines_df.to_json('new_airlines.json')