# Flight Data - Exploration

Words, words, words....

In [ ]:
%matplotlib inline

# Imports 
import os
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [ ]:
# Set data path
dat_path = "/Users/thomasdonoghue/Documents/UCSD/1-Classes/2016-2017/" \
           "2-Winter/CSE255_WebMining/Assignments/Assgn-2/Data/"

In [ ]:
# Load data for airports and airlines
airlines_df = pd.read_csv(os.path.join(dat_path, 'airlines.csv'))
airports_df = pd.read_csv(os.path.join(dat_path, 'airports.csv'))

In [ ]:
# Load flight data
flights_df = pd.read_csv(os.path.join(dat_path, 'flights2.csv'))

In [5]:
# Check what features the flight data has
flights_df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK',
       'AIRLINE', 'FLIGHT_NUMBER', 'TAIL_NUMBER', 'ORIGIN_AIRPORT',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME',
       'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN',
       'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'DIVERTED',
       'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY',
       'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY',
       'WEATHER_DELAY'],
      dtype='object')

In [6]:
# Check out some example flights data
flights_df.head()

,Unnamed: 0,Unnamed: 0.1,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,0,0,2015,1,1,4,AS,98,N407AS,ANC,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,2015,1,1,4,AA,2336,N3KUAA,LAX,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,2015,1,1,4,US,840,N171US,SFO,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,2015,1,1,4,AA,258,N3HYAA,LAX,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,2015,1,1,4,AS,135,N527AS,SEA,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Check out the size of the data
n_dat, n_feats = flights_df.shape
print('Each flight has \t', n_feats, '\t\tfeatures.')
print('There are \t\t', n_dat, '\tdata points.')

Each flight has 	 33 		features.
There are 		 5819079 	data points.

In [23]:
# Check the average departure & arrival delay
avg_dep_delay = np.mean(flights_df['DEPARTURE_DELAY'])
avg_ari_delay = np.mean(flights_df['ARRIVAL_DELAY'])
print('Average departure delay is: ', avg_dep_delay)
print('Average arrival delay is:   ', avg_ari_delay)

Average departure delay is:  9.370158275198389
Average arrival delay is:    4.407057357987598

In [24]:
# Check how flights are cancelled
n_cancelled = sum(flights_df['CANCELLED'])
print('There were  ', n_cancelled, '  cancelled flights.')
print('This is  ', (n_cancelled / n_dat)*100, '  % of all flights.')

There were   89884   cancelled flights.
This is   1.54464306121   % of all flights.

In [ ]:
max(flights['ARRIVAL_DELAY'])

In [ ]:
min(flights['ARRIVAL_DELAY'])

In [ ]:
#

In [ ]:
s_oa = set(flights_df.ORIGIN_AIRPORT)
len(s_oa)

#set(flights.ORIGIN_AIRPORT)

s_aa = set(airports_df.IATA_CODE)
len(s_aa)

s_oa - s_aa

sum(airports_df.IATA_CODE == 'BSM')

In [ ]:
aa = set(airlines_df.IATA_CODE)
len(aa)

bb = set(flights_df.AIRLINE)
len(bb)

In [ ]:
#
outgoing = flights_df.groupby(['ORIGIN_AIRPORT']).size()
incoming = flights_df.groupby(['DESTINATION_AIRPORT']).size()

print(min(outgoing / incoming))
print(max(outgoing / incoming))

In [ ]:
flights_df.loc[:, ('ORIGIN_AIRPORT', 'DESTINATION_AIRPORT')].describe()